* {
    box-sizing: border-box;
}
body {
    background-color: #000C54;
    font-family: Avenir,sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.contlogo {
    width: 15%;
}
.logo {
    width: 75%;
}
.navegacion {
    width: 65%;
    margin-top: 1.5%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.lista {
    list-style: none;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
.formulario {
    width: 20%;
}
.search {
    border-radius: 9px;
    background-color: #000C54;
    margin-top: 8%;
    border: 1px white solid;
}
.boton {
    color: white;
}
.seccion1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.seccion2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.imagen {
    width: 50%;
}
.soul {
    width: 100%;
    border-radius: 12px;
}
.contcalificacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    text-align: center;
    color: white;
    font-size: 90px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.calificacion {
    color: white;
    text-align: center;
}
.star {
    color: white;
    display: flex;
}
.info {
    color: white;
}
p {
    color: white;
}
.cajauno {
    width: 50%;
}
.cajados {
    width: 50%;
}
.fav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
a {
    padding-top: 20px;
    margin-right: 5px;
    color: white;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
}
.iconos {
    color: white;
    margin: 5px 9px;
}
.integrantes {
    color: #C4C4C4;
    margin: 5px 9px;
}
@media (max-width: 1060px) {
    .titulo {
        font-size: 70px;
        margin-bottom: 10px;
    }
    .calificacion {
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .titulo {
        font-size: 53px;
    }
    .calificacion {
        margin: 2%;
    }
    .fa-star {
        font-size: 12px;
    }
}
@media (max-width: 425px) {
    .seccion1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .imagen {
        width: 100%;
    }
    .contcalificacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}