* {
    box-sizing: border-box;
}

body {
    background-color: #000C54;
    font-family: Avenir,sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #0e0b14;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.logo {
    width: 14vw;
    height: 9vh;
}
h2 {
    color: white;
}