* {
    box-sizing: border-box;
}
body {
    background-color: #000C54;
    font-family: Avenir,sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.contlogo {
    width: 15%;
}
.logo {
    width: 100%;
}
.navegacion {
    width: 65%;
    margin-top: 1.5%;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
.formulario {
    width: 20%;
}
.seccion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.imagen {
    width: 50%;
}
.soul {
    width: 40vw;
    border-radius: 12px;
    margin-left: 60px;
}
.contcalificacion {
    width: 50%;
}
.calificacion {
    color: white;
    text-align: center;
}
.info {
    color: white;
}
p {
    color: white;
}
.cajauno {
    width: 50%;
}
.cajados {
    width: 50%;
}
.fav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
a {
    padding-top: 20px;
    margin-right: 5px;
}

