* {
    box-sizing: border-box;
}
body {
    background-color: #000C54;
    font-family: Avenir,sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.contlogo {
    width: 15%;
}
.logo {
    width: 75%;
}
.navegacion {
    width: 65%;
    margin-top: 1.5%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.lista {
    list-style: none;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
.formulario {
    width: 20%;
}
.search {
    border-radius: 9px;
    background-color: #000C54;
    margin-top: 8%;
    border: 1px white solid;
}
.boton {
    color: white;
}
.container {
    margin-top: 60px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.h2fav {
    color: white;
}
.imgfav {
    width: 35%;
}
.fav1 {
    width: 100%;
    /*height: 250px;*/
    align-self: center;
    border-radius: 13px;
    box-shadow: -10px 10px 20px white
}
.fav2 {
    width: 100%;
    /*height: 250px;*/
    align-self: center;
    border-radius: 13px;
    box-shadow: -10px 10px 20px white
}
.titfav1 {
    text-align: center;
    color: white;
    font-size: 25px;
}
.titfav2 {
    text-align: center;
    color: white;
    font-size: 25px;
}
.footer1 {
    float: inline-end;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
}
.iconos {
    color: white;
    margin: 6px 9px;
}
.integrantes {
    color: #C4C4C4;
    margin: 5px 9px;
}
@media (max-width: 1060px) {
    .h2fav {
        font-size: 35px;
    }
    .container {
        margin-top: 45px;
    }
    .titfav1 {
        font-size: 20px;
        text-align: center;
    }
    .titfav2 {
        font-size: 20px;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .h1fav {
        font-size: 30px;
    }
    .container {
        margin-top: 40px;
    }
    .titfav1 {
        font-size: 20px;
    }
    .titfav2 {
        font-size: 20px;
    }
}
@media (max-width: 425px) {
    .container {
        margin-top: 40px;
    }
    .imgfav {
        width: 100%;
    }
}