* {
    box-sizing: border-box;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.contlogo {
    width: 15%;
}
.logo {
    width: 14vw;
    height: 9vh;
}
.navegacion {
    width: 65%;
    margin-top: 1.5%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.lista {
    list-style: none;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
.formulario {
    width: 20%;
}
.search {
    border-radius: 9px;
    background-color: #000C54;
    margin-top: 8%;
    border: 1px white solid;
}
.boton {
    color: white;
}
body {
    background-color: #000C54;
    font-family: Avenir,sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.ofertas {
    color: white;
    font-size: 30px;
}
.card {
    margin: 0% 0.2%;
    width: 15%;
}
img {
    width: 100%;
    border-radius: 13px;
}
.subtitulos {
    margin-bottom: 5%;
}
.descripcion {
    color: white;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
}
.iconos {
    color: white;
    margin: 5px 9px;
}
.integrantes {
    color: #C4C4C4;
    margin: 5px 9px;
}