* {
    box-sizing: border-box;
}
body {
    background-color: #000C54;
    font-family: Avenir,sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.contlogo {
    width: 15%;
}
.logo {
    width: 75%;
}
.navegacion {
    width: 65%;
    margin-top: 1.5%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.lista {
    list-style: none;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
.formulario {
    width: 20%;
}
.search {
    border-radius: 9px;
    background-color: #000C54;
    margin-top: 8%;
    border: 1px white solid;
}
.boton {
    color: white;
}
.resultadoscoco {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.foto {
    width: 50%;
}
.coco {
    width: 100%;
    border-radius: 12px;
    box-shadow: -9px 9px 20px white;
}
.contcoco {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulococo {
    text-align: center;
    color: white;
    font-size: 90px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.calificacioncoco {
    color: white;
    text-align: center;
}
.starcoco {
    color: white;
    display: flex;
}
.descripcioncoco {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 8px;
}
.infococo {
    color: white;
}
p {
    color: white;
}
.agregarfav {
    margin-right: 5px;
    color: white;
    align-self: center;
}
.favorito {
    font-weight: bold;
}
.titulosimilares {
    color: white;
    margin-left: 3%;
}
.titsimilares {
    justify-content: space-around;
    color: white;
    padding-left: 0px;
}
.listaparecidos {
    list-style: none;
    width: 28%;
}
.imgtit {
    width: 15%;
    border-radius: 12px;
}
footer {
    margin-top: 5%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
}
.iconos {
    color: white;
    margin: 5px 9px;
}
.integrantes {
    color: #C4C4C4;
    margin: 5px 9px;
}
.logoapi {
    margin-left: 15vw;
    margin-top: 25px;
    border-radius: 0%;
}
@media (max-width: 1060px) {
    .titulococo {
        font-size: 70px;
        margin-bottom: 10px;
    }
    .calificacioncoco {
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .titulococo {
        font-size: 53px;
    }
    .calificacioncoco {
        margin: 2%;
    }
    .fa-star {
        font-size: 12px;
    }
    .listaparecidos {
        width: 44%;
    }
}
@media (max-width: 425px) {
    .resultadoscoco {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .foto {
        width: 100%;
    }
    .contcoco {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .titsimilares {
        padding-left: 3%;
        padding-right: 3%;
    }
    .listaparecidos {
        width: 100%;
    }
}