* {
    box-sizing: border-box;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.logo {
    width: 13vw;
    height: 9vh;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
   
}
body {
    background-color: #000C54;
    font-family: Avenir,sans-serif;
}
.ofertas {
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
article {
    margin: 0% 0.2%;
}
img {
    width: 16vw;
    height: 16vh;
    border-radius: 13px;
}
.subtitulos {
    margin-bottom: 5%;
}
.fechas {
    margin-top: 0.5%;
}
.descripcion {
    color: white;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 200px;
}
.iconos {
    color: white;
    margin: 5px 9px;
}
.integrantes {
    color: #C4C4C4;
    margin: 5px 9px;
}


