* {
    box-sizing: border-box;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.logo {
    width: 8vw;
    height: 7.5vh;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
body {
    background-color: lightblue;
    font-family: Avenir,sans-serif;
}
article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
div {
    margin: 0% 0.5%;
}
img {
    width: 15vw;
    height: 15vh;
    border-radius: 13px;
}
.subtitulos {
    margin-bottom: 5%;
}
.fechas {
    margin-top: 0.5%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 200px;
}
.iconos {
    color: white;
    margin: 5px 9px;
}
.integrantes {
    color: #C0C0C0;
    margin: 5px 9px;
}


